body {
    text-align: center;
}

header {
    padding: 40px;
    margin-bottom: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("./images/bc_seal.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 200px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; 
    width: 500px;
    margin: 0 auto;
}

.task {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-color: #BC9B6A;
    transition: background-color 0.3s;
}

.task a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #98002E;
}

.task a:hover {
    background-color: #ccaf83;
}