<!DOCTYPE html>
<html leng="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boston College Go!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <h1>Boston College Go!</h1>
    <p>A new game to help freshmen get accommodated to their new environment and get involved at BC!</p>
</header>
<main>
    <section class="initialize">
        <form action="/run_code" method="POST">
            <button id="init" type="submit">Generate 9 New Activities!</button>
        </form>
    </section>
    
    <div class="board">
        <div class="task" data-source="0">
            {% if event0 %}
                <p>{{ event0 | safe }}</p>
            {% endif %}
        </div>
        <div class="task" data-source="1">
            {% if event1 %}
                <p>{{ event1 | safe }}</p>
            {% endif %}
        </div>
        <div class="task" data-source="2">
            {% if event2 %}
                <p>{{ event2 | safe }}</p>
            {% endif %}
        </div>
        <div class="task" data-source="3">
            {% if event3 %}
                <p>{{ event3 | safe }}</p>
            {% endif %}
        </div>
        <div class="task" data-source="4">
            {% if event4 %}
                <p>{{ event4 | safe }}</p>
            {% endif %}
        </div>
        <div class="task" data-source="5">
            {% if event5 %}
                <p>{{ event5 | safe }}</p>
            {% endif %}
        </div>
        <div class="task" data-source="6">
            {% if event6 %}
                <p>{{ event6 | safe }}</p>
            {% endif %}
        </div>
        <div class="task" data-source="7">
            {% if event7 %}
                <p>{{ event7 | safe }}</p>
            {% endif %}
        </div>
        <div class="task" data-source="8">
            {% if event8 %}
                <p>{{ event8 | safe }}</p>
            {% endif %}
        </div>
    </div>

    <div id="submission" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form>
                <input type="hidden" id="sourceInput" name="source">
                <h2>Event Submission</h2>
                <label for="date">Date:</label><br>
                <input type="date" id="date" name="date" required><br><br>
                <label for="desc">Description of Activity:</label><br>
                <textarea placeholder="What did you do?!" name="desc"></textarea><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

</main>
<footer>
    <p>Made by Matthew Dukes and Kit Levy for Hack the Heights 2024!</p>
</footer>
<script src="{{ url_for('static', filename='/script.js') }}"></script>
</body>
</html>