<!DOCTYPE html>
<html leng="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boston College Go!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <img src="{{ url_for('static', filename='images/BCGO.png') }}" alt="BC GO!">
    <p style="margin-top: 0px;">A new game to help freshmen get accommodated to their new environment and get involved at BC!</p>
</header>
<main>
    <section class="initialize">
        <form action="/run_code" method="POST">
            <button id="init" type="submit">Generate 9 New Activities!</button>
        </form>
    </section>

    <section class="main-area">
        <section class="pokedex">
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/1.png') }}" alt="Pokemon 1">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/12.png') }}" alt="Pokemon 12">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/22.png') }}" alt="Pokemon 22">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/2.png') }}" alt="Pokemon 2">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/13.png') }}" alt="Pokemon 13">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/23.png') }}" alt="Pokemon 23">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/3.png') }}" alt="Pokemon 3">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/14.png') }}" alt="Pokemon 14">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/24.png') }}" alt="Pokemon 24">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/4.png') }}" alt="Pokemon 4">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/15.png') }}" alt="Pokemon 15">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/25.png') }}" alt="Pokemon 25">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/5.png') }}" alt="Pokemon 5">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/16.png') }}" alt="Pokemon 16">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/26.png') }}" alt="Pokemon 26">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/6.png') }}" alt="Pokemon 6">
            </div>
        </section>
        
        <div class="board">
            <div class="task" data-source="0">
                <!-- pokeid="{% if id0 %}id0{% endif %}"> -->
                {% if event0 %}
                    <p>{{ event0 | safe }}</p>
                {% endif %}
                <img src="{{ url_for('static', filename='images/pokeball.png') }}" alt="pokeball" class="overlay-img" id="img0">
            </div>
            <div class="task" data-source="1">
                {% if event1 %}
                    <p>{{ event1 | safe }}</p>
                {% endif %}
                <img src="{{ url_for('static', filename='images/pokeball.png') }}" alt="pokeball" class="overlay-img" id="img1">
            </div>
            <div class="task" data-source="2">
                {% if event2 %}
                    <p>{{ event2 | safe }}</p>
                {% endif %}
                <img src="{{ url_for('static', filename='images/pokeball.png') }}" alt="pokeball" class="overlay-img" id="img2">
            </div>
            <div class="task" data-source="3">
                {% if event3 %}
                    <p>{{ event3 | safe }}</p>
                {% endif %}
                <img src="{{ url_for('static', filename='images/pokeball.png') }}" alt="pokeball" class="overlay-img" id="img3">
            </div>
            <div class="task" data-source="4">
                {% if event4 %}
                    <p>{{ event4 | safe }}</p>
                {% endif %}
                <img src="{{ url_for('static', filename='images/pokeball.png') }}" alt="pokeball" class="overlay-img" id="img4">
            </div>
            <div class="task" data-source="5">
                {% if event5 %}
                    <p>{{ event5 | safe }}</p>
                {% endif %}
                <img src="{{ url_for('static', filename='images/pokeball.png') }}" alt="pokeball" class="overlay-img" id="img5">
            </div>
            <div class="task" data-source="6">
                {% if event6 %}
                    <p>{{ event6 | safe }}</p>
                {% endif %}
                <img src="{{ url_for('static', filename='images/pokeball.png') }}" alt="pokeball" class="overlay-img" id="img6">
            </div>
            <div class="task" data-source="7">
                {% if event7 %}
                    <p>{{ event7 | safe }}</p>
                {% endif %}
                <img src="{{ url_for('static', filename='images/pokeball.png') }}" alt="pokeball" class="overlay-img" id="img7">
            </div>
            <div class="task" data-source="8">
                {% if event8 %}
                    <p>{{ event8 | safe }}</p>
                {% endif %}
                <img src="{{ url_for('static', filename='images/pokeball.png') }}" alt="pokeball" class="overlay-img" id="img8">
            </div>
        </div>

        <section class="pokedex">
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/27.png') }}" alt="Pokemon 27">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/7.png') }}" alt="Pokemon 7">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/17.png') }}" alt="Pokemon 17">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/28.png') }}" alt="Pokemon 28">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/8.png') }}" alt="Pokemon 8">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/18.png') }}" alt="Pokemon 18">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/29.png') }}" alt="Pokemon 29">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/9.png') }}" alt="Pokemon 9">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/19.png') }}" alt="Pokemon 19">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/30.png') }}" alt="Pokemon 30">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/10.png') }}" alt="Pokemon 10">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/20.png') }}" alt="Pokemon 20">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/32.png') }}" alt="Pokemon 32">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/11.png') }}" alt="Pokemon 11">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/21.png') }}" alt="Pokemon 21">
            </div>
            <div class="pokemon">
                <img src="{{ url_for('static', filename='images/31.png') }}" alt="Pokemon 31">
            </div>
        </section>
    </section>


    <div id="submission" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form id="submission-form" action="#" method="post">
                <input type="hidden" id="sourceInput" name="source">
                <h2>Event Submission</h2>
                <label for="date">Date:</label><br>
                <input type="date" id="date" name="date" required><br><br>
                <label for="desc">Description of Activity:</label><br>
                <textarea placeholder="What did you do?!" name="desc"></textarea><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

</main>
<footer>
    <p>Made by Matthew Dukes and Kit Levy for Hack the Heights 2024!</p>
</footer>
<script src="{{ url_for('static', filename='/script.js') }}"></script>
</body>
</html>