<!DOCTYPE html>
<html leng="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boston College Go!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <p><span style="color: #98002E">Get out, get involved, and catch 'em all!</span></p>
    <p><span style="color: rgb(255, 102, 0)">Attend a community event to catch a Fire type</span> <br><span style="color: rgb(0, 174, 255)">Use BC resources to catch a Water type</span><br><span style="color: rgb(80, 221, 14)">Get out into Boston for a Grass type</span></p>
</header>
<main>
    <section class="initialize">
        <form action="/run_code" method="POST">
            <button id="init" type="submit">Generate 9 New Activities!</button>
        </form>
    </section>

    <section class="main-area">
        <section class="pokedex">
            <div class="pokemon" id="p1">
                <img src="{{ url_for('static', filename='images/1.png') }}" alt="Pokemon 1">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Charmander</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p12">
                <img src="{{ url_for('static', filename='images/12.png') }}" alt="Pokemon 12">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Bulbasaur</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p22">
                <img src="{{ url_for('static', filename='images/22.png') }}" alt="Pokemon 22">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Squirtle</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p2">
                <img src="{{ url_for('static', filename='images/2.png') }}" alt="Pokemon 2">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Vulpix</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p13">
                <img src="{{ url_for('static', filename='images/13.png') }}" alt="Pokemon 13">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Chikorita</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p23">
                <img src="{{ url_for('static', filename='images/23.png') }}" alt="Pokemon 23">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Psyduck</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p3">
                <img src="{{ url_for('static', filename='images/3.png') }}" alt="Pokemon 3">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Growlithe</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p14">
                <img src="{{ url_for('static', filename='images/14.png') }}" alt="Pokemon 14">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Bellsprout</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p24">
                <img src="{{ url_for('static', filename='images/24.png') }}" alt="Pokemon 24">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Horsea</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p4">
                <img src="{{ url_for('static', filename='images/4.png') }}" alt="Pokemon 4">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Cyndaquil</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p15">
                <img src="{{ url_for('static', filename='images/15.png') }}" alt="Pokemon 15">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Turtwig</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p25">
                <img src="{{ url_for('static', filename='images/25.png') }}" alt="Pokemon 25">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Vaporeon</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p5">
                <img src="{{ url_for('static', filename='images/5.png') }}" alt="Pokemon 5">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Fuecoco</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p16">
                <img src="{{ url_for('static', filename='images/16.png') }}" alt="Pokemon 16">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Treecko</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p26">
                <img src="{{ url_for('static', filename='images/26.png') }}" alt="Pokemon 26">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Kabuto</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p6">
                <img src="{{ url_for('static', filename='images/6.png') }}" alt="Pokemon 6">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Slugma</h3>
                    <p></p>
                </div>
            </div>
        </section>
        
        <div class="board">
            <div class="task" data-source="0" pvalue="{{ id0 }}">
                {% if event0 %}
                    <p>{{ event0 | safe }}</p>
                {% endif %}
                <img src="{{ url_for('static', filename='images/pokeball.png') }}" alt="pokeball" class="overlay-img" id="img0">
            </div>
            <div class="task" data-source="1" pvalue="{{ id1 }}">
                {% if event1 %}
                    <p>{{ event1 | safe }}</p>
                {% endif %}
                <img src="{{ url_for('static', filename='images/pokeball.png') }}" alt="pokeball" class="overlay-img" id="img1">
            </div>
            <div class="task" data-source="2" pvalue="{{ id2 }}">
                {% if event2 %}
                    <p>{{ event2 | safe }}</p>
                {% endif %}
                <img src="{{ url_for('static', filename='images/pokeball.png') }}" alt="pokeball" class="overlay-img" id="img2">
            </div>
            <div class="task" data-source="3" pvalue="{{ id3 }}">
                {% if event3 %}
                    <p>{{ event3 | safe }}</p>
                {% endif %}
                <img src="{{ url_for('static', filename='images/pokeball.png') }}" alt="pokeball" class="overlay-img" id="img3">
            </div>
            <div class="task" data-source="4" pvalue="{{ id4 }}">
                {% if event4 %}
                    <p>{{ event4 | safe }}</p>
                {% endif %}
                <img src="{{ url_for('static', filename='images/pokeball.png') }}" alt="pokeball" class="overlay-img" id="img4">
            </div>
            <div class="task" data-source="5" pvalue="{{ id5 }}">
                {% if event5 %}
                    <p>{{ event5 | safe }}</p>
                {% endif %}
                <img src="{{ url_for('static', filename='images/pokeball.png') }}" alt="pokeball" class="overlay-img" id="img5">
            </div>
            <div class="task" data-source="6" pvalue="{{ id6 }}">
                {% if event6 %}
                    <p>{{ event6 | safe }}</p>
                {% endif %}
                <img src="{{ url_for('static', filename='images/pokeball.png') }}" alt="pokeball" class="overlay-img" id="img6">
            </div>
            <div class="task" data-source="7" pvalue="{{ id7 }}">
                {% if event7 %}
                    <p>{{ event7 | safe }}</p>
                {% endif %}
                <img src="{{ url_for('static', filename='images/pokeball.png') }}" alt="pokeball" class="overlay-img" id="img7">
            </div>
            <div class="task" data-source="8" pvalue="{{ id8 }}">
                {% if event8 %}
                    <p>{{ event8 | safe }}</p>
                {% endif %}
                <img src="{{ url_for('static', filename='images/pokeball.png') }}" alt="pokeball" class="overlay-img" id="img8">
            </div>
        </div>

        <section class="pokedex">
            <div class="pokemon" id="p27">
                <img src="{{ url_for('static', filename='images/27.png') }}" alt="Pokemon 27">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Totodile</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p7">
                <img src="{{ url_for('static', filename='images/7.png') }}" alt="Pokemon 7">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Flareon</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p17">
                <img src="{{ url_for('static', filename='images/17.png') }}" alt="Pokemon 17">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Snivy</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p28">
                <img src="{{ url_for('static', filename='images/28.png') }}" alt="Pokemon 28">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Mudkip</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p8">
                <img src="{{ url_for('static', filename='images/8.png') }}" alt="Pokemon 8">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Tepig</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p18">
                <img src="{{ url_for('static', filename='images/18.png') }}" alt="Pokemon 18">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Chespin</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p29">
                <img src="{{ url_for('static', filename='images/29.png') }}" alt="Pokemon 29">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Piplup</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p9">
                <img src="{{ url_for('static', filename='images/9.png') }}" alt="Pokemon 9">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Chimchar</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p19">
                <img src="{{ url_for('static', filename='images/19.png') }}" alt="Pokemon 19">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Leafeon</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p30">
                <img src="{{ url_for('static', filename='images/30.png') }}" alt="Pokemon 30">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Oshawott</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p10">
                <img src="{{ url_for('static', filename='images/10.png') }}" alt="Pokemon 10">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Houndour</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p20">
                <img src="{{ url_for('static', filename='images/20.png') }}" alt="Pokemon 20">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Rowlet</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p32">
                <img src="{{ url_for('static', filename='images/32.png') }}" alt="Pokemon 32">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Spheal</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p11">
                <img src="{{ url_for('static', filename='images/11.png') }}" alt="Pokemon 11">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Torchic</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p21">
                <img src="{{ url_for('static', filename='images/21.png') }}" alt="Pokemon 21">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Grookey</h3>
                    <p></p>
                </div>
            </div>
            <div class="pokemon" id="p31">
                <img src="{{ url_for('static', filename='images/31.png') }}" alt="Pokemon 31">
                <div class="info-box">
                    <h3 class="press-start-2p-regular">Froakie</h3>
                    <p></p>
                </div>
            </div>
        </section>
    </section>


    <div id="submission" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form id="submission-form" action="#" method="post">
                <input type="hidden" id="sourceInput" name="source">
                <input type="hidden" id="pokeInput" name="poke-input">
                <h2>Event Submission</h2>
                <label for="date">Date:</label><br>
                <input type="date" id="dateInput" name="date" required><br><br>
                <label for="desc">Description of Activity:</label><br>
                <textarea placeholder="What did you do?!" name="desc"></textarea><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

</main>
<footer>
    <p>Made by Matthew Dukes and Kit Levy for Hack the Heights 2024!</p>
</footer>
<script src="{{ url_for('static', filename='/script.js') }}"></script>
</body>
</html>